.upper{
   text-align: center;
 }
 .row{
 
    display:flex;
    align-items: center;
 }
 .column{
    flex:33.33%
 }
 
 .h1{
    text-align: center;
  }
 
 .button{
    font-size: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    background-color: rgb(211, 211, 211);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 10px;
    padding-right: 10px;
  }
 
  .RRating{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
 
  }
 .author{
 
    margin-left: 5px;
  }